@charset "utf-8";

/*
Filename: ecomap_stylesheet.css
Date of creation: 27 Sep 2021
Editor: Kashai Bingham
*/

div.row {clear: both;}
div.row::after {
    clear: both;
    content: "";
    display: table;
}
div[class^="col-"] {float: left;}
div.col-1-1 {width: 100%;}
div.col-1-3 {width: 33.33%;}
div.col-2-3 {width: 66.67%;}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
}
ul.breadcrumb li+li:before {
    padding: 10px;
    color: black;
    content: "/\00a0";
}
a {
    text-decoration: none;
}
footer, footer a{
    color: grey;
    position: relative;
}

/*Desktop Style*/
@media only screen and (min-width: 768px) {
    body {
        font: black;
        background-color: white;
        width: 1vw;
        height: 1vh;
    }
    #search {
        float: right;
        position: relative;
        right: 2%;
        width: 20em;
    }
    #menu {
        float: left;
        position: relative;
        font-size: 1.5em;
        left: 2%;
    }
    #logo {
        position: relative;
        left: 5%;
    }
}

/*Mobile Style*/
@media only screen and (min-width: 600px) {
    body {
        width: 100vw;
    }
}