@charset "utf-8";

a {
    text-decoration: none;
}
a:hover, a:focus {
	color: blue;
	font-style: italic;
	text-decoration: underline;
}
a:visited, a:link {
	text-decoration: none;
}
figure {
    width: 48px;
}
figcaption {
    text-align: center;
}
.map_options {
    z-index: 99;
}
.map_options a:link, .map_options a:visited {
    color: black;
}
.map_options a:hover, .map_options a:focus {
    text-decoration: underline;
    font-style: normal;
    color: blue;
}

body {
    font: black;
    background-color: white;
    padding: 0px !important;
    margin: 0px !important;
}
#viewDiv {
    width: 100%;
    height: 100%;
    position: relative;
}
#filter {
    display: none;
    position: absolute;
    width: 300px;
    height: 480px;
    left: 80px;
    bottom: 60px;
    z-index: 99;
}
#filter h2 {
    position: relative;
    left: 8px;
}
#filter_settings {
    display: none;
}

.map_options {
    width: 5%;
    float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1.5pc;
    z-index: 99;
}

/* Highlights Calendar Dates */
.calendar-highlight a
{
    background: #FC0 !important;
}

/* Make image gray */
.grayscale {
    /* For Firefox 10 and above, Firefox for Android */
    filter: url("data:image/svg+xml;utf8,<svg></svg>#grayscale");
    /* For Internet Explorer 6 to 9 */
    filter: gray;
    /* For Chrome 19+, Safari 6+, Safari 6+ on iOS */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);}
}

#toolTip {
    position:relative;
}
 
 #toolTip p {
    padding:10px;
    background-color:#f9f9f9;
    border:solid 1px #a0c7ff;
    -moz-border-radius:5px;
    -ie-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;
 }
 
 #tailShadow {
    position:absolute;
    bottom:-8px;
    left:28px;
    width:0;
    height:0;
    border:solid 2px #fff;
    box-shadow:0 0 10px 1px #555;
 }
 
 #tail1 {
    position:absolute;
    bottom:-53px;
    left:20px;
    width:0;
    height:0;
    border-color:#a0c7ff transparent transparent transparent;
    border-width:10px;
    border-style:solid;
 }
 
 #tail2 {
    position:absolute;
    bottom:-51px;
    left:20px;
    width:0;
    height:0;
    border-color:#f9f9f9 transparent transparent transparent;
    border-width:10px;
    border-style:solid;
 }

 .viewChange {
     position: fixed;
     clear: both;
     top: 5px;
     left: 50%;
     transform: translateX(-50%);
     display: block;
     background-color: #fff;
     width: 100%;
 }

.viewChangeSpace {
    margin-top: 75px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

 /* Desktop */
 @media only screen and (min-width: 768px) {
    #viewDiv {
        left: 0;
    }

    .map_options {
        display: none;
    }

    #filterDesktop {
        position: absolute;
        z-index: 99;
        bottom: 20px;
    }

    #itemsDesktop {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 99;
        margin: 0px;
        padding: 0px;
    }

    figure {
        float: left;
    }
 }

 /* Mobile */
 @media only screen and (min-width: 0px) and (max-width: 767.9px) {
    #viewDiv {
        left: 0;
    }

    #filterDesktop {
        display: none;
    }

    .pillars {
        width: 100%;
    }
    
    .pillars .options {
        display: block;
        width: 100%;
    }
    
    .pillars .label {
        position: relative;
        left: 10px;
        bottom: 25px;
    }
    
    #itemsDesktop {
        display: none;
    }
 }