@charset "utf-8";

/*
Filename: ecomap_stylesheet.css
Date of creation: 27 Sep 2021
Editor: Kashai Bingham
Edited: 7 Dec 2021
*/

/*map scaling issues on mobile devices needs to be addressed*/

a {
    text-decoration: none;
}
a:hover, a:focus {
	color: blue;
	font-style: italic;
	text-decoration: underline;
}
a:visited, a:link {
	text-decoration: none;
}
figure {
    width: 48px;
}
figcaption {
    text-align: center;
}
.map_options {
    z-index: 99;
}
.map_options a:link, .map_options a:visited {
    color: black;
}
.map_options a:hover, .map_options a:focus {
    text-decoration: underline;
    font-style: normal;
    color: blue;
}

body {
    font: black;
    background-color: white;
    width: inherit;
    height: 95vh;
    padding: 0px;
    margin: 0px;
}
#viewDiv {
    width: 90%;
    height: 100%;
    position: relative;
    left: 7%;

}
#filter {
    display: none;
    position: absolute;
    width: 300px;
    height: 480px;
    left: 20pc;
    top: 12pc;
    z-index: 99;
    background-color: white;
    border: 2px black groove;
    border-radius: 8px;
}
#filter h2 {
    position: relative;
    left: 8px;
}
#filter_settings { /*subject to change*/
    display: none;
}
.map_options {
    width: 5%;
    float: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -1.5pc;
    z-index: 99;
}

.pillars {
    width: 100%;
}
.pillars .label {
    position: relative;
    left: 10px;
    bottom: 25px;
}

.esri-ui-inner-container.esri-ui-corner-container {
    width: 20%;        
}

.esri-component.esri-zoom.esri-widget {
    width: 25px;
    margin-left: 82vw;
    transform: rotate(-90deg);
}
.esri-component.esri-zoom.esri-widget div:first-child{
    width: 100%;    
}
.esri-component.esri-zoom.esri-widget div:last-child{
    width: 100%;
}
.esri-component.esri-zoom.esri-widget div:last-child span{
    transform: rotate(90deg);
}


.esri-widget--button {
    width: 5%;
    background-color: rgba(85, 77, 77, 0.6);
}
.esri-ui-inner-container.esri-ui-manual-container, .esri-component.esri-attribution.esri-widget {
    width: 100%;
}
.esri-attribution__sources {
    display: flex;
    float: left;
    flex: 1 1 75%;
    background-color: rgba(85, 77, 77, 0.6);
}
.esri-attribution__powered-by {
    display: flex;
    float: right;
    flex: 1 1 25%;
    background-color: rgba(85, 77, 77, 0.6);
}

/* Highlights Calendar Dates */
.calendar-highlight a
{
    background: #FC0 !important;
}

/* Make image gray */
.grayscale {
    filter: grayscale(100%);
  }